/* CSS Document */
/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Content
	3.3 Logo
4. Menu
5. Home
6. Boxes
7. About
8. Departments
9. Services
10. CTA
11. Footer



******************************/
/***********
1. Fonts
***********/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNovaThin.otf) format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNovaRegular.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNovaBold.otf) format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNovaExtrabold.otf) format("opentype");
  font-weight: 900;
}

/*********************************
2. Body and some general stuff
*********************************/
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  background: #c6c6c6;
  color: #696969;
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p:last-of-type {
  margin-bottom: 0;
}

a {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

a, a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

a:hover {
  color: #e08738 !important;
}

::-moz-selection {
  color: #e08738;
}

::selection {
  color: #e08738;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.form-control {
  color: #db5246;
}

.section {
  padding: 30px 0;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
}

.section_title_light h2 {
  color: #FFFFFF;
}

.clear {
  clear: both;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.fill_height {
  height: 100%;
}

.super_container {
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 90px;
}

.prlx_parent {
  overflow: hidden;
}

.prlx {
  height: 130% !important;
}

/* Fading entrances  */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* Fading exits */
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.animated-fast {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUpMenu {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpMenu {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

.nopadding {
  padding: 0px !important;
}

.button {
  display: inline-block;
  background: #009146;
}

.button::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #e08738;
  content: '';
  z-index: 0;
  -webkit-transition: all 400ms cubic-bezier(0.33, 0.68, 0.59, 0.99);
  transition: all 400ms cubic-bezier(0.33, 0.68, 0.59, 0.99);
}

.button a {
  display: block;
  position: relative;
  padding: 12px 52px 12px 43px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  z-index: 10;
}

.button:hover::after {
  height: 100%;
}

.button:hover a {
  color: #FFFFFF !important;
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/*********************************
3. Header
*********************************/
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #009146;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: background ease .3s;
  transition: background ease .3s;
}

.header .container {
  position: relative;
}

.header:after, .header:before {
  content: "";
  display: table;
  clear: both;
}

.header .main-nav .main-menu a {
  text-transform: initial;
}

@media only screen and (max-width: 1200px) {
  .header .main-nav .main-menu a {
    font-size: 12px;
  }
}

.header .main-nav {
  text-align: center;
  padding: 0;
  float: none;
}

@media (max-width: 992px) {
  .header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header.shrink {
  position: fixed;
  background-color: #009146;
}

.header.shrink .nav-menu-container {
  height: 80px;
}

.header.shrink .main-nav {
  padding: 15px 20px;
}

@media (min-width: 992px) {
  .header.shrink .main-nav {
    padding: 0;
  }
}

.header + * {
  margin-top: 100px;
}

.nav-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
}

.header__logo {
  max-width: 230px;
  height: 100%;
  -webkit-transition: max-width .3s ease;
  transition: max-width .3s ease;
  padding: 13px 0 15px;
}

.header__logo img {
  height: 100%;
}

.header__right, .main-nav, .main-menu {
  height: 100%;
}

.header.shrink .header__logo {
  max-width: 197px;
}

.language_nav {
  padding-left: 15px;
}

.language_nav > a {
  border-left: 2px solid #ffffff;
}

.language_nav > a span {
  border: 1px solid #ffffff;
  padding: 3px 5px;
}

.language_nav > a:hover span {
  background: #e08738;
  color: #fff;
}

.language_nav ul.sub-menu {
  width: auto !important;
  left: 15px !important;
}

@media (max-width: 992px) {
  .language_nav {
    display: none !important;
  }
}

.languages a {
  color: #fff;
  margin-right: 10px;
}

.header + * {
  margin-top: 0;
}

.header:not(.shrink) {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header:not(.shrink) .main-nav .main-menu > li > a {
  color: #ffffff;
}

.header:not(.shrink) .main-nav .main-menu .current-menu-item {
  border-bottom: 3px solid #ffffff;
}

.header:not(.shrink) .main-nav .main-menu .current-menu-item > a {
  font-weight: 700;
}

.header:not(.shrink) .dropdown__toggle {
  color: #ffffff;
}

.header:not(.shrink) .search-form__toggle {
  color: #ffffff;
}

.header .navbar-toggle > span {
  color: #ffffff;
}

.header.shrink .navbar-toggle > span {
  background-color: #ffffff;
}

.navbar-toggle {
  cursor: pointer;
}

.navbar-toggle > span {
  width: 31px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  margin: 5px auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar-toggle.open > span:nth-child(1), .navbar-toggle.open > span:nth-child(3) {
  width: 25px;
}

.navbar-toggle.open > span:nth-child(1) {
  -webkit-transform: translateX(-10px) rotate(-45deg);
  transform: translateX(-10px) rotate(-45deg);
}

.navbar-toggle.open > span:nth-child(3) {
  -webkit-transform: translateX(-10px) rotate(45deg);
  transform: translateX(-10px) rotate(45deg);
}

.main-nav {
  z-index: 999;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: table;
}

.main-nav li {
  position: relative;
  z-index: 9;
}

.main-nav .main-menu > li {
  padding: 15px 0;
}

.main-nav li.home-item i {
  font-size: 22px;
}

.main-nav li a {
  display: block;
  position: relative;
  text-decoration: none;
}

.main-nav {
  text-align: center;
}

.main-nav .main-menu .sub-menu,
.main-nav .language-menu .sub-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.main-nav .main-menu li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.main-nav .main-menu a {
  padding: 20px 30px;
}

.main-nav .main-menu .sub-menu {
  background-color: #fff;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 0;
}

.main-nav .main-menu .sub-menu li:hover {
  border-left: 3px solid #f39c12;
}

.main-nav .main-menu .sub-menu a {
  padding: 10px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-nav .main-menu .sub-menu a:after {
  right: 15px;
}

.main-nav .main-menu .sub-menu li .sub-menu {
  top: -2px;
}

.main-nav .main-menu .sub-menu li:first-child > a {
  border-top: 0;
}

.main-nav .main-menu .sub-menu li:first-child .sub-menu {
  top: -3px;
}

.main-nav .main-menu > li {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
}

@media (max-width: 992px) {
  .main-nav .main-menu > li {
    display: block;
  }
}

.header.shrink .main-nav .main-menu .current-menu-item {
  border-bottom: 3px solid #ffffff;
}

.main-nav .main-menu a {
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
}

.main-nav .main-menu .sub-menu {
  display: block !important;
}

.main-nav .main-menu .sub-menu .current-menu-parent > a,
.main-nav .main-menu .sub-menu .current-menu-item > a {
  color: #f39c12;
}

.main-nav .main-menu .current-menu-parent > a,
.main-nav .main-menu .current-menu-item > a {
  color: #ffffff;
  font-weight: 900;
}

.main-nav .main-menu .sub-menu {
  width: 250px;
  position: absolute;
  top: 100%;
  z-index: -1;
  left: 0;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-nav .main-menu .sub-menu .sub-menu {
  top: 0;
  left: 100%;
}

.main-nav .main-menu .sub-menu li.menu-item-has-children > a:after {
  font-family: "FontAwesome";
  content: "\F105";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.main-nav .main-menu .sub-menu li > a {
  font-size: 14px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-weight: 400;
  text-transform: capitalize;
  height: auto;
  line-height: 1.875;
  color: #009146;
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-nav .main-menu .sub-menu li:hover > a {
  color: #f39c12;
}

.main-nav .main-menu .sub-menu li .current-menu-parent > a,
.main-nav .main-menu .sub-menu li .current-menu-item > a {
  color: #f39c12;
}

.main-nav .navbar-toggle {
  display: none;
}

.offcanvas-menu-wrapper {
  display: none;
}

@media (max-width: 992px) {
  .header.shrink .main-nav {
    padding: 15px 10px;
  }
  .main-nav .main-menu {
    position: fixed;
    top: 0;
    will-change: transform;
  }
  .main-nav .main-menu a {
    font-size: 14px;
  }
  .main-nav .main-menu a:after {
    right: 0;
    width: 50px;
    text-align: center;
  }
  .main-nav .main-menu .sub-menu {
    display: none;
  }
  .main-nav .main-menu {
    background-color: #111;
  }
  .main-nav .main-menu a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #eee;
  }
  .main-nav .main-menu a:after {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  .main-nav .main-menu {
    left: 0;
    width: 280px;
    background-color: #111;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  .main-nav .active.main-menu {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .main-nav .main-menu {
    z-index: 99999;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    width: 280px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .main-nav .main-menu li {
    position: relative;
  }
  .main-nav .main-menu li.menu-item-has-children > a:after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    position: absolute;
    font-weight: 900;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .main-nav .main-menu a {
    padding: 12px 15px;
    font-size: 14px;
  }
  .main-nav .main-menu a:hover {
    font-weight: 900;
  }
  .main-nav .main-menu .active > a {
    font-weight: 900;
  }
  .main-nav .main-menu .current-menu-parent > a,
  .main-nav .main-menu .current-menu-item > a {
    font-weight: 900;
  }
  .main-nav .main-menu .sub-menu a {
    padding: 12px 15px 12px 35px;
  }
  .main-nav .main-menu .sub-menu .menu-item-has-children > a:hover {
    color: #f39c12;
  }
  .main-nav .main-menu .sub-menu .menu-item-has-children.active > a {
    color: #f39c12;
  }
  .main-nav .main-menu .sub-menu .menu-item-has-children.current-menu-parent > a {
    color: #f39c12;
  }
  .main-nav .main-menu .sub-menu .current-menu-item > a {
    color: #f39c12;
  }
  .main-nav .navbar-toggle {
    display: block;
  }
  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(18, 68, 29, 0.7);
    content: "";
    z-index: 98;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    visibility: hidden;
  }
  .offcanvas-menu-overlay.active {
    visibility: visible;
  }
  .offcanvas-menu-wrapper {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    padding: 90px 20px 30px 30px;
    display: block;
    z-index: 9999;
    overflow-y: auto;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
  }
  .offcanvas-menu-wrapper.active {
    opacity: 1;
    left: 0;
  }
  .offcanvas__close {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 30px;
    top: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
  }
  .slicknav_btn {
    display: none;
  }
  .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 20px;
  }
  .slicknav_nav .slicknav_arrow {
    font-size: 16px;
    margin: 0 0 0 .4em;
    padding: 5px 10px;
  }
  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    padding: 15px 0;
    margin: 0;
    color: #ffffff;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .slicknav_nav a {
    white-space: nowrap;
    font-size: 18px;
  }
  .slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background: transparent;
    color: #111111;
  }
  .slicknav_nav a:hover {
    border-radius: 0;
    background: transparent;
    color: #111111;
  }
  .slicknav_nav {
    display: block !important;
  }
  .sub-menu a {
    padding: 10px 0;
  }
  .offcanvas__logo {
    margin-bottom: 25px;
  }
  .offcanvas__logo img {
    width: 100%;
  }
}

.header .search-form {
  display: inline-block;
}

.header .search-form a {
  padding-left: 0;
}

.header .search-form a:hover i {
  color: #e08738;
}

.search-form__toggle:hover {
  cursor: pointer;
}

.search-form__toggle i {
  color: #fff;
}

@media (max-width: 992px) {
  .search-form__toggle {
    display: none !important;
  }
}

.header:not(.shrink) .search-form__form {
  top: 56px;
  right: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 300px;
}

.header.shrink .search-form__form {
  top: 51px;
  right: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 300px;
}

@media (max-width: 992px) {
  .search-form__form {
    width: 100%;
    opacity: 1;
    top: 0;
    right: 0;
    position: relative;
    height: 60px;
    z-index: 99;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .search-form__form .form-control {
    padding-left: 25px;
  }
}

.search-form__form .form-search, .search-form__form .form-search > form,
.search-form__form .form-search > form > input {
  height: 100%;
  background-color: white;
}

.search-form {
  position: relative;
}

.search-form.open .search-form__form {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* 10. dropdown
--------------------------------------------------------------------------------*/
.dropdown {
  position: relative;
}

.dropdown__toggle {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.dropdown__content {
  color: #1f1c2f;
  top: 61px;
  right: 0;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  display: block !important;
  padding: 20px;
  line-height: 1.5;
  min-width: 130px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  z-index: 99;
}

.header.shrink .dropdown__content {
  top: 56px;
}

.dropdown__content[data-position="left"] {
  left: 0;
  right: auto;
}

.dropdown__content[data-position="center"] {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.dropdown__content.open {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

@media (max-width: 992px) {
  .header_content .header_logo {
    padding: 5px 0;
    height: 100%;
  }
}

/*********************************
4. Menu
*********************************/
.menu_container {
  position: fixed;
  top: 0;
  right: -50vw;
  width: 50vw;
  height: 100vh;
  background: #FFFFFF;
  z-index: 101;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  visibility: hidden;
  opacity: 0;
}

.menu_container.active {
  visibility: visible;
  opacity: 1;
  right: 0;
}

.menu {
  position: absolute;
  top: 150px;
  left: 0;
  padding-left: 15%;
}

.menu_inner {
  width: 100%;
  height: 100%;
}

.menu_list {
  -webkit-transform: translateY(1.5rem);
  transform: translateY(1.5rem);
  -webkit-transition: all 1000ms 400ms ease;
  transition: all 1000ms 400ms ease;
  opacity: 0;
}

.menu_container.active .menu_list {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

.menu_item {
  margin-bottom: 5px;
}

.menu_item a {
  font-size: 36px;
  font-weight: 700;
  color: #272727;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.menu_item a:hover {
  color: #ffb606;
}

.menu_close_container {
  position: absolute;
  top: 86px;
  right: 79px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  z-index: 10;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu_close {
  top: 9px;
  width: 21px;
  height: 3px;
  background: #3a3a3a;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.menu_close::after {
  display: block;
  position: absolute;
  top: -9px;
  left: 9px;
  content: '';
  width: 3px;
  height: 21px;
  background: #3a3a3a;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after {
  background: #e08738;
}

/*********************************
4. Banner
*********************************/
.page-banner .video {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
  padding: 0;
}

.page-banner .video video, .page-banner .video iframe {
  width: 100%;
  height: 100%;
}

.page-banner .video .video_click {
  width: 100%;
  height: 100%;
}

.page-banner .video .video_click:hover {
  cursor: pointer;
}

.page-banner .images {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 198px;
  width: 100%;
  padding: 0;
}

.page-banner .images h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

/*********************************
12. Develop
*********************************/
.develop {
  position: relative;
  background: transparent;
  padding-bottom: 97px;
}

@media (max-width: 992px) {
  .develop {
    padding-bottom: 37px;
  }
}

.develop.first-class {
  padding-top: 65px;
  padding-bottom: 75px;
}

.develop .section_title {
  overflow: visible !important;
}

.develop .section_title h1 {
  margin-bottom: 25px;
  font-size: 45px;
  color: #009146;
}

@media (max-width: 420px) {
  .develop .section_title h1 {
    margin-bottom: 20px;
    font-size: 25px;
  }
}

.develop .section_content {
  margin-top: 45px;
  margin-bottom: 53px;
}

@media (max-width: 992px) {
  .develop .section_content {
    margin-top: 15px;
    margin-bottom: 23px;
  }
}

.develop .section_content .section_title h2 {
  color: #009146;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .develop .section_content .section_title h2 {
    margin-bottom: 15px;
  }
}

.develop .section_content .section_text.text-center p {
  text-align: justify;
  text-align-last: center;
}

.develop .section_content .section_text p {
  color: #262626;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.develop .section_image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .develop .section_image {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .develop .section_image {
    height: 370px;
  }
}

@media (max-width: 460px) {
  .develop .section_image {
    height: 320px;
  }
}

/*********************************
12. Career
*********************************/
.career {
  width: 100%;
  background: transparent;
  padding-top: 45px;
  padding-bottom: 50px;
  position: relative;
}

.career.career-detail {
  padding-top: 58px;
}

.career .section_title {
  background: #009146;
  padding: 15px 0;
  text-align: center;
}

.career .section_title h2 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 0;
}

.career p.pt-empty {
  background: #009146;
  color: #ffffff;
  padding: 7px 0 12px;
}

.career .career_button {
  margin-top: 35px;
}

.career .career-content {
  padding: 37px 30px 50px 30px;
  margin-right: 0;
  margin-left: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
}

.career .career-content .career-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .career .career-content .career-info {
    margin-bottom: 25px;
  }
}

.career .career-content .career-info .circle-icon {
  position: relative;
  background: #e1e1e1;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #009146;
  font-size: 23px;
  margin-right: 15px;
}

.career .career-content .career-info .circle-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.career .career-content .career-info .text p {
  color: #000000;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1;
}

.career .career-content .career-info .text span {
  color: #009146;
  font-weight: bold;
  margin-bottom: 5px;
}

.career .career-content .career-text {
  margin-top: 45px;
}

.career .career-content .career-text p, .career .career-content .career-text ul li {
  color: #000000;
  font-size: 16px;
}

@media (max-width: 992px) {
  .career .career-content .career-text {
    margin-top: 0;
  }
}

.career .career-title h2 {
  color: #009146;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 40px;
  margin-top: 25px;
}

.career .career-text p {
  color: #262626;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

.career .career_image img {
  width: 100%;
}

.table-responsive {
  margin-top: 55px;
  margin-bottom: 22px;
}

.table-responsive nav {
  position: absolute;
  bottom: 25px;
  width: 100%;
  left: 0;
}

.table-responsive table {
  margin-bottom: 0;
  color: #000000;
  white-space: nowrap;
  text-align: center;
  background: #ffffff;
}

.table-responsive table thead {
  background: #009146;
}

.table-responsive table thead th {
  border: none;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;
  font-size: 14px;
}

.table-responsive table thead th:first-of-type {
  text-align: left;
  padding: 0 25px;
}

.table-responsive table tbody tr {
  border-bottom: 1px solid #ececec;
}

.table-responsive table tbody tr td {
  border: none;
  vertical-align: middle;
  font-size: 14px;
}

.table-responsive table tbody tr td:first-of-type {
  text-align: left;
  font-weight: 700;
  padding: 15px 25px;
}

.table-responsive table tbody tr td a {
  color: #000000;
}

.table-responsive .table-hover tbody tr:hover td, .table-responsive .table-hover tbody tr:hover th {
  color: #000000;
}

.table-responsive nav .page-item.active .page-link, .table-responsive nav .page-item .page-link.active {
  background: #e20612;
}

.table-responsive .table td, .tab-content .tab-pane .table-responsive .table th {
  padding: 7px 5px;
}

@media (max-width: 768px) {
  /* Force table to not be like tables anymore */
  .table-responsive th,
  .table-responsive td {
    font-size: 12px;
    text-align: center;
  }
  .table-responsive th:nth-child(2),
  .table-responsive td:nth-child(2) {
    text-align: left;
  }
  .table-responsive .table td,
  .table-responsive .table th {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
}

/*********************************
5. Home
*********************************/
.home {
  width: 100%;
  height: 700px;
  background: #ffffff;
}

@media (max-width: 992px) {
  .home {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .home {
    height: 540px;
  }
}

.home .home_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 186px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home p.t_text {
  text-align: center;
  margin-bottom: 0;
  color: #fff;
  padding: 75px 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 992px) {
  .home p.t_text {
    padding: 45px 0;
  }
}

.home .home_slider .owl-dots {
  width: 100%;
}

.home .home_slider .owl-dots .owl-dot span {
  width: 50px;
  height: 7px;
  margin: 15px 8px 0;
  background: #909090;
}

.home .home_slider .owl-dots .owl-dot.active span,
.home .home_slider .owl-dots .owl-dot:hover span {
  background: #009146;
}

.home .home_slider .owl-nav {
  position: initial;
}

.home .home_slider .owl-nav .owl-prev, .home .home_slider .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 45px;
  height: 45px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 145, 70, 0.7);
  color: #fff;
  padding: 0;
}

.home .home_slider .owl-nav .owl-prev i, .home .home_slider .owl-nav .owl-next i {
  font-size: 30px;
  line-height: 45px;
}

.home .home_slider .owl-nav .owl-prev:hover, .home .home_slider .owl-nav .owl-next:hover {
  background: #d8262f;
}

.home .home_slider .owl-nav .owl-prev {
  left: 0;
}

.home .home_slider .owl-nav .owl-next {
  right: 0;
}

.home_slider_container {
  position: relative;
  background-image: url(../images/bg-section-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 514px;
}

@media (max-width: 992px) {
  .home_slider_container {
    height: 414px;
  }
}

@media (max-width: 768px) {
  .home_slider_container {
    height: 354px;
  }
}

.home_slider_container .item {
  position: relative;
  width: 100%;
  height: 100%;
}

.home_slider_container .home_slider_background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_slider_container .home_content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
}

.home_slider_container .home_title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.home_slider_container .home_title h2 {
  font-size: 120px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}

.home_slider_container .home_title img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .home_slider_container .home_title h2 {
    font-size: 55px;
    color: #ffffff;
    margin: 25px 0;
  }
  .home_slider_container .home_title img {
    width: 100%;
  }
}

.home_slider_container .home_text {
  padding-right: 20px;
  padding-left: 3px;
}

.home_slider_container .home_text p {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 992px) {
  .home_slider_container .home_text {
    max-width: 625px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .home_slider_container .home_text p {
    font-size: 23px;
  }
}

.home_slider_container .home_slider_progress {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  max-width: 100%;
  height: 2px;
  background: #009146;
  z-index: 1;
}

.home_slider_container .home_text p {
  position: relative;
  opacity: 0;
  top: 50px;
}

.home_slider_container .owl-item.active .home_text p {
  top: 0;
  opacity: 1;
}

.home_slider_container .owl-item.active .home_text p {
  -webkit-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

/*********************************
6. Page
*********************************/
.page_banner {
  width: 100%;
  height: 500px;
  background: #ffffff;
}

@media (max-width: 992px) {
  .page_banner {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .page_banner {
    height: 340px;
  }
}

.page_banner .page_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*********************************
7. About
*********************************/
.about {
  width: 100%;
  padding-top: 70px;
  background: transparent;
  padding-bottom: 45px;
  position: relative;
}

.about .row {
  padding-top: 70px;
}

.about .row .text_overlay {
  position: absolute;
  top: 35px;
  left: 70px;
}

.about .row .text_overlay h2 {
  font-size: 169px;
  font-weight: 900;
  color: #f6f6f6;
}

.about .about_content {
  margin-top: 45px;
}

.about .about_content .about_title h2 {
  color: #009146;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 25px;
}

.about .about_content .about_text p {
  color: #262626;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

.about .about_content .about_button {
  margin-top: 40px;
}

.about .about_image img {
  width: 100%;
}

@media (max-width: 992px) {
  .about {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .about .row {
    padding-top: 40px;
  }
  .about .row .text_overlay {
    position: absolute;
    top: -30px;
  }
  .about .about_content {
    margin-top: 25px;
  }
  .about .about_content .about_text p {
    text-align: justify;
    text-justify: inter-word;
  }
  .about .about_content .about_button {
    text-align: center;
    margin: 25px 0;
  }
}

.about.page_section .row {
  padding-top: 0;
}

.about.page_section .about_content:first-of-type {
  margin-top: 0;
}

.page_anchor::before {
  display: block;
  content: " ";
  margin-top: -110px;
  height: 110px;
  visibility: hidden;
  pointer-events: none;
}

.slideInLeft, .slideInRight {
  opacity: 0;
}

/*********************************
10. Brands
*********************************/
.brands {
  width: 100%;
  background: transparent;
  padding-top: 75px;
  padding-bottom: 65px;
}

@media (max-width: 992px) {
  .brands {
    padding-top: 35px;
    padding-bottom: 25px;
  }
}

.brands .section_title {
  text-align: center;
  margin-bottom: 45px;
}

.brands .section_title h2 {
  font-size: 24px;
  color: #009146;
  margin-bottom: 20px;
  font-weight: 900;
  position: relative;
  display: inline-block;
  padding: 3px 30px 5px;
  border-bottom: 4px solid #009146;
}

.brands .section_title h2::after {
  content: "";
  height: calc(50% + 5px);
  display: block;
  border-left: 4px solid #009146;
  position: absolute;
  right: 0;
  bottom: 0;
}

.brands .section_title h2::before {
  content: "";
  height: calc(50% + 5px);
  display: block;
  border-right: 4px solid #009146;
  position: absolute;
  left: 0;
  bottom: 0;
}

.brands .section_title p {
  margin: 0 auto;
  max-width: 820px;
  color: #262626;
  font-weight: 400;
  text-align: justify;
  text-align-last: center;
}

.brands #brands_slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 590px;
}

.brands #brands_slider .carousel-center {
  position: relative;
}

.brands #brands_slider .carousel-center ~ div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 350px auto;
  background-position-x: center;
  background-position-y: 50px;
  background-repeat: no-repeat;
  background-image: url(../images/carousel-center.png);
  opacity: 1;
}

.brands #brands_slider a img {
  visibility: hidden;
  /* hide images until carousel can handle them */
  cursor: pointer;
  /* otherwise it's not as obvious items can be clicked */
}

.brands #brands_slider a img ~ div {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.brands .brands_slider-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
  display: none;
}

@media (max-width: 576px) {
  .brands .brands_slider-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.brands .brands_slider-nav #next, .brands .brands_slider-nav #prev {
  margin: 0 15px;
  width: 45px;
  height: 45px;
  background: rgba(0, 91, 153, 0.6);
  color: #fff;
  border: none;
  outline: none;
}

/*********************************
12. Video
*********************************/
.video {
  padding-top: 45px;
  padding-bottom: 45px;
  background: transparent;
  position: relative;
}

.video .video_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.video .video_bg-1 {
  position: absolute;
  top: -139px;
  left: -25%;
}

.video .video_bg-1 img {
  max-width: 100%;
}

.video .video_bg-2 {
  position: absolute;
  top: -129px;
  right: -25%;
}

.video .video_bg-2 img {
  max-width: 100%;
}

.video .video_content {
  text-align: center;
  position: relative;
}

.video .video_content .video_title {
  font-size: 24px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  margin-bottom: 35px;
}

.video .video_content .video_button {
  margin: 30px auto 0;
  background: #fff;
}

.video .video_content .video_button a {
  color: #009146;
}

.video .video_content .video_button::after {
  content: '';
  background: #009146;
}

.video .video_content .video_thumbnail {
  padding: 0 45px;
}

.video .video_content .video_thumbnail img {
  width: 100%;
}

.video .video_content .video_bg-3 {
  position: absolute;
  bottom: 45px;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.video .video_content .video_bg-3 img {
  max-width: 100%;
}

/*********************************
14. News
*********************************/
.news {
  padding-top: 75px;
  padding-bottom: 65px;
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.news.page_section {
  padding-top: 45px;
  padding-bottom: 52px;
}

.news.page_section .news_title h2 {
  font-size: 28px;
  font-weight: 900;
  color: #009146;
  text-transform: uppercase;
  margin-bottom: 32px;
}

@media (max-width: 992px) {
  .news.page_section .news_title h2 {
    margin-bottom: 20px;
  }
}

.news.page_section .list_news .large_news {
  margin-bottom: 23px;
}

.news.page_section .list_news .large_news .large_news_text {
  padding: 30px 30px 26px 31px;
}

.news.page_section .list_news .large_news .large_news_text p {
  font-size: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news.page_section .news_item {
  margin-bottom: 16px;
  width: 100%;
}

.news.page_section .news_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news.page_section .news_item .news_item_image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 220px;
  height: 220px;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 576px) {
  .news.page_section .news_item .news_item_image {
    width: 100%;
    height: 100%;
  }
  .news.page_section .news_item .news_item_image::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.news.page_section .news_item .news_item_text {
  height: 220px;
  z-index: 2;
  padding-left: 23px;
  padding-right: 32px;
  border: 1px solid #e1e1e1;
  border-left: 0;
  display: table;
}

.news.page_section .news_item .news_item_text div {
  display: table-cell;
  vertical-align: middle;
}

.news.page_section .news_item .news_item_text div h2 {
  font-size: 20px;
  font-weight: 700;
  color: #009146;
}

.news.page_section .news_item .news_item_text div p {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 576px) {
  .news.page_section .news_item .news_item_text {
    border: none;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: rgba(18, 68, 29, 0.5);
    padding: 15px;
  }
  .news.page_section .news_item .news_item_text div h2, .news.page_section .news_item .news_item_text div p {
    color: #ffffff;
  }
}

@media (max-width: 992px) {
  .news.page_section .news_item:last-of-type {
    margin-bottom: 45px;
  }
}

@media (max-width: 576px) {
  .news.page_section .news_item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news.page_section .small_item {
  width: 100%;
  margin-bottom: 15px;
}

.news.page_section .small_item .small_item_image {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news.page_section .small_item .small_item_image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.news.page_section .small_item .small_item_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: rgba(18, 68, 29, 0.5);
  padding: 15px;
  left: 15px;
  width: calc(100% - 30px);
}

.news.page_section .small_item .small_item_text p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news.page_section .news-pagination {
  margin-top: 19px;
}

.news.page_section .news-pagination ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news.page_section .news-pagination ul .page-item .page-link {
  color: #009146;
  border: 0;
  padding: 9px 12px;
  margin: 0 3px;
  border-radius: 0;
  font-weight: 700;
}

.news.page_section .news-pagination ul .page-item.active .page-link {
  background-color: #009146;
  color: #fff;
}

.news .section_title {
  text-align: center;
}

.news .section_title h2 {
  font-size: 24px;
  color: #009146;
  margin-bottom: 45px;
  font-weight: 900;
  position: relative;
  display: inline-block;
  padding: 3px 30px 5px;
  border-bottom: 4px solid #009146;
}

.news .section_title h2::after {
  content: "";
  height: calc(50% + 5px);
  display: block;
  border-left: 4px solid #009146;
  position: absolute;
  right: 0;
  bottom: 0;
}

.news .section_title h2::before {
  content: "";
  height: calc(50% + 5px);
  display: block;
  border-right: 4px solid #009146;
  position: absolute;
  left: 0;
  bottom: 0;
}

.news .news_content_left {
  padding-right: 0;
}

.news .large_news {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

@media (max-width: 992px) {
  .news .large_news {
    padding-right: 0;
    height: auto !important;
  }
  .news .large_news a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .news .large_news::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.news .large_news .large_news_image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news .large_news .large_news_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: rgba(18, 68, 29, 0.5);
  padding: 25px 30px 45px;
}

.news .large_news .large_news_text p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 992px) {
  .news .large_news .large_news_text {
    padding: 15px;
  }
}

.news .large_news:hover .large_news_image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.news .news_content_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@media (max-width: 992px) {
  .news .news_content_right {
    padding-right: 0;
  }
}

.news .news_content_right .small_news {
  width: calc((100% - 17px)/2);
  height: calc((100% - 17px)/2);
  position: relative;
  overflow: hidden;
}

@media (max-width: 992px) {
  .news .news_content_right .small_news {
    margin-top: 15px;
    height: auto !important;
  }
  .news .news_content_right .small_news a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .news .news_content_right .small_news::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.news .news_content_right .small_news .small_news_image {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news .news_content_right .small_news .small_news_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: rgba(18, 68, 29, 0.5);
  padding: 15px;
}

.news .news_content_right .small_news .small_news_text p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 992px) {
  .news .news_content_right .small_news .small_news_text {
    padding: 5px;
  }
}

.news .news_content_right .small_news:hover .small_news_image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.news .news_button {
  margin-top: 23px;
}

/*********************************
14. News Details
*********************************/
.news-content {
  padding-top: 56px;
  padding-bottom: 66px;
}

.news-content h2 {
  color: #009146;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 31px;
}

.news-content p {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}

.news-content img.wp-image {
  margin-top: 17px;
  margin-bottom: 40px;
}

.news-content .news_button {
  margin-top: 45px;
}

.news-content .related-news {
  margin-top: 51px;
}

.news-content .related-news .related-news-title h2 {
  font-weight: 900;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

@media (max-width: 992px) {
  .news-content .related-news .item {
    margin-bottom: 25px;
  }
}

.news-content .related-news .item:not(:last-child), .news-content .related-news .item:not(:first-child) {
  padding-right: 5px;
  padding-left: 5px;
}

.news-content .related-news .item .thumbnail-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-content .related-news .item .thumbnail-img::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.news-content .related-news .item .text {
  padding: 13px 14px 16px;
  border: 1px solid #e1e1e1;
  border-top: 0;
}

.news-content .related-news .item .text p {
  font-size: 16px;
  color: #009146;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*********************************
14. Product
*********************************/
.product {
  padding-top: 80px;
  padding-bottom: 0;
  background: transparent;
  position: relative;
}

@media (max-width: 992px) {
  .product {
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .product {
    padding-bottom: 70px;
  }
}

.product .product-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product .section_title {
  text-align: center;
}

.product .section_title h2 {
  font-size: 45px;
  color: #009146;
  font-weight: 900;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .product .section_title h2 {
    margin-bottom: 45px;
  }
}

.product #product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 455px;
  overflow: hidden;
}

@media (max-width: 992px) {
  .product #product-list {
    height: auto;
  }
}

.product #product-list .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.product #product-list .box img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 auto;
  width: 100%;
}

.product #product-list .box .product-title {
  display: none;
}

.product #product-list .box:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
  cursor: pointer;
  color: #fff;
}

.product #product-list .box:hover .text {
  padding-top: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  top: 0px;
}

.product .product-prev,
.product .product-next {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 34px;
  z-index: 99;
}

@media (max-width: 992px) {
  .product .product-prev,
  .product .product-next {
    display: block;
  }
}

.product .product-prev {
  left: 0;
}

.product .product-next {
  right: 0;
}

.product .product-counter {
  text-align: center;
  font-size: 24px;
  color: #000000;
  margin-bottom: 35px;
  display: none;
}

@media (max-width: 992px) {
  .product .product-counter {
    display: block;
  }
}

/*********************************
14. Banner Product
*********************************/
.product-banner {
  background: transparent;
  position: relative;
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-banner .banner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-banner h2.banner-title {
  font-size: 40px;
  color: #ffffff;
  font-weight: 900;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.product-banner .banner-content p {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.product-banner .banner-content ul li {
  color: #ffffff;
  font-size: 16px;
  max-width: 500px;
}

.product-banner .banner-content ul {
  list-style: disc;
  color: #ffffff;
  padding-left: 17px;
  margin-top: 50px;
}

/*********************************
14. Product Detail
*********************************/
.product-detail {
  padding-top: 63px;
  padding-bottom: 75px;
  background: transparent;
  position: relative;
}

.product-detail .product-image {
  text-align: center;
}

@media (max-width: 992px) {
  .product-detail .product-image img {
    width: 100%;
    margin-top: 25px;
  }
}

.product-detail .product-content h2 {
  color: #009146;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 25px;
  margin-top: 15px;
}

.product-detail .product-content p {
  font-size: 16px;
  color: #000000;
}

.product-detail .product-content .table {
  margin-top: 30px;
}

.product-detail .product-content .table td, .product-detail .product-content .table th {
  color: #000000;
}

.product-detail .seemore_button {
  margin-top: 25px;
}

/*********************************
14. Video Page
*********************************/
.video-page {
  padding-top: 42px;
  padding-bottom: 61px;
}

@media (min-width: 768px) {
  .video-page [class*="col-"]:nth-child(2n + 1) {
    padding-right: 5px;
  }
  .video-page [class*="col-"]:nth-child(2n) {
    padding-left: 5px;
  }
}

.video-page .video-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 31px;
  position: relative;
}

.video-page .video-item::after {
  content: '';
  display: block;
  padding-bottom: 70%;
}

.video-page .video-item iframe, .video-page .video-item video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.video-page .video-item .video_click {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.video-page .video-item .video_click:hover {
  color: pointer;
}

/*********************************
14. Coming Soon
*********************************/
.coming_soon {
  padding-top: 75px;
  padding-bottom: 75px;
  background: transparent;
  position: relative;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coming_soon .coming_soon-content {
  text-align: center;
}

.coming_soon .coming_soon-content img {
  max-width: 320px;
  margin-bottom: 25px;
}

.coming_soon .coming_soon-content h2 {
  color: #009146;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 25px;
}

.coming_soon .coming_soon-content p {
  color: #262626;
}

/*********************************
14. Age
*********************************/
.fullscreen {
  margin: 0 !important;
}

.fullscreen .main_content {
  height: 100%;
  width: 100%;
}

.age {
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-height: 600px) {
  .age {
    overflow: auto;
    height: auto !important;
    padding: 75px 0;
  }
}

@media only screen and (max-width: 768px) and (max-height: 920px) {
  .age {
    overflow: auto;
    height: auto !important;
    padding: 75px 0;
  }
}

.age .age-content {
  text-align: center;
}

.age .age-content img {
  max-width: 320px;
  margin-bottom: 75px;
}

@media (max-width: 320px) {
  .age .age-content img {
    width: 100%;
  }
}

.age .age-content h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 25px;
}

.age .age-content p {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}

.age .age-content .button {
  background: #d8262f;
}

.age .age_form_container {
  margin-top: 59px;
}

.age .age_form_container p {
  margin-bottom: 15px;
}

.age .age_input {
  position: relative;
  width: 100%;
  height: 44px;
  border: none;
  outline: none;
  background: #ffffff;
  padding-left: 25px;
}

.age .age_form > div:not(:last-child) {
  margin-bottom: 18px;
}

.age .input_container {
  padding-left: 10px;
  padding-right: 0;
  position: relative;
}

.age .input_container::after {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 0;
  width: calc(100% - 10px);
  height: 2px;
  content: '';
  background: #20d34a;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.age .input_container:hover::after {
  visibility: visible;
  opacity: 1;
}

.age .age_input::-webkit-input-placeholder {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #000000 !important;
}

.age .age_input:-ms-input-placeholder {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #000000 !important;
}

.age .age_input::-ms-input-placeholder {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #000000 !important;
}

.age .age_input::placeholder {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #000000 !important;
}

.age .age_button {
  padding-left: 10px;
  padding-right: 0;
}

.age .age_button .button {
  width: 100%;
}

/*********************************
14. Contact Us
*********************************/
.contact-map {
  padding-top: 44px;
  padding-bottom: 65px;
}

.contact-map .section_title h2 {
  font-size: 40px;
  margin-bottom: 45px;
  margin-top: 33px;
  font-weight: 900;
  color: #009146;
}

.contact-map .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.contact-map .contact-info .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-map .contact-info .icon i {
  color: #009146;
  font-size: 18px;
}

.contact-map .contact-info p {
  margin-bottom: 0;
  font-size: 18px;
}

.contact-form {
  padding-top: 0;
  padding-bottom: 60px;
}

.contact-form .section_title h2 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 900;
  color: #009146;
  text-align: center;
}

.contact-form .contact_input {
  position: relative;
  width: 100%;
  height: 44px;
  border: none;
  outline: none;
  background: #f5f5f5;
  padding-left: 25px;
  display: block;
}

.contact-form .contact_form .input_container {
  margin-bottom: 18px;
}

.contact-form .input_container::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: #20d34a;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.contact-form .input_container:hover::after {
  visibility: visible;
  opacity: 1;
}

.contact-form .contact_input::-webkit-input-placeholder {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #000000 !important;
}

.contact-form .contact_input:-ms-input-placeholder {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #000000 !important;
}

.contact-form .contact_input::-ms-input-placeholder {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #000000 !important;
}

.contact-form .contact_input::placeholder {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #000000 !important;
}

.contact-form .contact_text_area {
  height: 160px;
  padding-top: 13px;
}

.contact-form .contact_button {
  text-align: center;
  margin-top: 3px;
}

/*********************************
17. Footer
*********************************/
.footer {
  width: 100%;
  background: transparent;
  position: relative;
  padding-top: 40px;
  padding-bottom: 15px;
}

.footer .footer_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer .footer_about p {
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 700;
}

.footer .footer_title {
  font-size: 26px;
  font-weight: 900;
  color: #ffffff;
}

.footer .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.footer .footer_social li a {
  color: #ffffff;
  font-size: 23px;
}

.footer .footer_social li:not(:last-of-type) {
  margin-right: 25px;
}

.footer .footer_about_list {
  margin-top: 20px;
  padding-bottom: 25px;
}

.footer .footer_about_list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer .footer_about_list .footer_about_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
}

.footer .footer_about_list .footer_about_icon i {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.footer .footer_about_list li span {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  padding-left: 10px;
}

.footer .footer_copyright {
  padding: 20px 0;
  border-top: 1px solid #fff;
}

.footer .footer_copyright p {
  font-size: 14px;
  color: #fff;
}

.footer_image img {
  max-width: 100%;
}

@media (min-width: 992px) {
  .fadeInUp, .fadeInDown {
    opacity: 0;
    overflow: hidden;
  }
}

/*********************************
14. Responsive
*********************************/
@media only screen and (max-width: 991px) {
  .main_nav {
    display: none;
  }
  .logo_container {
    width: 181px;
  }
  .hamburger {
    display: block;
  }
  .footer_social ul {
    margin-right: 0;
    margin-left: -5px;
    margin-top: 15px;
  }
}
/*# sourceMappingURL=main_styles.css.map */