@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Content
	3.3 Logo
4. Menu
5. Home
6. Boxes
7. About
8. Departments
9. Services
10. CTA
11. Footer



******************************/

/***********
1. Fonts
***********/

@font-face {
	font-family: "ProximaNova";
	src: url(../fonts/ProximaNovaThin.otf) format('opentype');
	font-weight: 300;
	
}
@font-face {
	font-family: "ProximaNova";
	src: url(../fonts/ProximaNovaRegular.otf) format('opentype');
	font-weight: 400;

}

@font-face {
	font-family: "ProximaNova";
	src: url(../fonts/ProximaNovaBold.otf) format('opentype');
	font-weight: 700;
}
@font-face {
	font-family: "ProximaNova";
	src: url(../fonts/ProximaNovaExtrabold.otf) format('opentype');
	font-weight: 900;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	// font-family: 'ProximaNova';
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	background: #c6c6c6;
	color: #696969;
	
}

div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-size: 15px;
	line-height: 1.5;
	font-weight: 500;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
a:hover
{
	color: #e08738 !important;
}
::selection
{
	color: #e08738;
}

h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.form-control
{
	color: #db5246;
}

.section{
	padding: 30px 0;
	display: block;
	position: relative;
	box-sizing: border-box;
	background: transparent;
	
}



.section_title_light h2
{
	color: #FFFFFF;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}

.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
	background-color: #ffffff;
	margin-top: 90px;
	// @media ()
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
/* Fading entrances  */
@-webkit-keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
}
@keyframes fadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Fading exits */
@-webkit-keyframes fadeOut {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	}
}
@keyframes fadeOut {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	}
}
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}
.animated-fast {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@keyframes fadeInUpMenu {
	from {
	  opacity: 0;
	  visibility: hidden;
	  /*-webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);*/
	  -webkit-transform: translate3d(0, 20px, 0);
	  transform: translate3d(0, 20px, 0);
	}
  
	to {
	  visibility: visible;
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
}
  
.fadeInUpMenu {
	-webkit-animation-name: fadeInUpMenu;
	animation-name: fadeInUpMenu;
}

.nopadding
{
	padding: 0px !important;
}

.button
{
	display: inline-block;
	background: #009146;
}
.button::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background: #e08738;
	content: '';
	z-index: 0;
	-webkit-transition: all 400ms cubic-bezier(.33,.68,.59,.99);
	-moz-transition: all 400ms cubic-bezier(.33,.68,.59,.99);
	-ms-transition: all 400ms cubic-bezier(.33,.68,.59,.99);
	-o-transition: all 400ms cubic-bezier(.33,.68,.59,.99);
	transition: all 400ms cubic-bezier(.33,.68,.59,.99);

}
.button a
{
	display: block;
	position: relative;
	padding: 12px 52px 12px 43px;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	letter-spacing: 0.05em;
	z-index: 10;
}
.button:hover::after
{
	height: 100%;
}
.button:hover a
{
	color: #FFFFFF !important;
}

@-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
@keyframes slideOutUp {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

/*********************************
3. Header
*********************************/

.header {
    position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
    width: 100%;
    background-color: #009146;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    transition: background ease .3s;
}

.header .container {
    position: relative;
}

.header:after, .header:before {
    content: "";
    display: table;
    clear: both;
}


.header .main-nav .main-menu a {
	text-transform: initial;
	@media only screen and (max-width: 1200px){
		font-size: 12px;
	}
	
}

.header .main-nav {
	text-align: center;
	padding: 0;
	float: none;
	@media (max-width: 992px){
		display: flex;
		align-items: center;
	}
}



.header.shrink {
    position: fixed;
    background-color: #009146;
}
.header.shrink .nav-menu-container {
	height: 80px;
	
}

.header.shrink .main-nav {
    padding: 15px 20px;
}

@media (min-width: 992px) {
    .header.shrink .main-nav {
        padding: 0;
    }
}

.header + * {
    margin-top: 100px;
}
.nav-menu-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 90px;
	transition: height .3s ease;
	
}
.header__logo {
	max-width: 230px;
	height: 100%;
	transition: max-width .3s ease;
	padding: 13px 0 15px;
	img{
		height: 100%;
	}
	
}
.header__right, .main-nav, .main-menu{
	height: 100%;
}
.header.shrink .header__logo{
	max-width: 197px;
}

.language_nav{
	padding-left: 15px;
	
	> a{
		border-left: 2px solid #ffffff;
		span{
			border: 1px solid #ffffff;
			padding: 3px 5px;
		}
		&:hover{
			span{
				background: #e08738;
				color: #fff;
			}
		}
		
	}
	ul.sub-menu{
		width: auto !important;
		left: 15px !important;
	}
	@media (max-width: 992px){
		display: none !important;
	}
}
.languages{
	a{
		color: #fff;
		margin-right: 10px;
	}
}


.header + * {
    margin-top: 0;
}

.header:not(.shrink) {
    box-shadow: none;
}

.header:not(.shrink) .main-nav .main-menu > li > a {
	color: #ffffff;
}
.header:not(.shrink) .main-nav .main-menu .current-menu-item {
    border-bottom: 3px solid #ffffff;
}
.header:not(.shrink) .main-nav .main-menu .current-menu-item > a {
    font-weight: 700;
}

.header:not(.shrink) .dropdown__toggle {
    color: #ffffff;
}

.header:not(.shrink) .search-form__toggle {
    color: #ffffff;
}
.header .navbar-toggle > span {
    color: #ffffff;
}
.header.shrink .navbar-toggle > span {
    background-color: #ffffff;
}



.navbar-toggle {
    cursor: pointer;
}

.navbar-toggle > span {
    width: 31px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    margin: 5px auto;
    transition: all .3s ease-in-out;
}

.navbar-toggle.open > span:nth-child(1), .navbar-toggle.open > span:nth-child(3) {
    width: 25px;
}

.navbar-toggle.open > span:nth-child(1) {
    -webkit-transform: translateX(-10px) rotate(-45deg);
            transform: translateX(-10px) rotate(-45deg);
}

.navbar-toggle.open > span:nth-child(3) {
    -webkit-transform: translateX(-10px) rotate(45deg);
            transform: translateX(-10px) rotate(45deg);
}

.main-nav {
    z-index: 999;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
	font-size: 0;
	display: table;
}

.main-nav li {
    position: relative;
	z-index: 9;
}
.main-nav .main-menu > li {
	padding: 15px 0;
}
.main-nav li{
	&.home-item{
		i{
			font-size: 22px;
		}
	}
	a {
		display: block;
		position: relative;
		text-decoration: none;
		
	}
}

.main-nav {
	text-align: center;
}




.main-nav .main-menu .sub-menu,
.main-nav .language-menu .sub-menu {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
			transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
			 transform-origin: 50% 0;
}

.main-nav .main-menu li:hover > .sub-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
			transform: scaleY(1);
}

.main-nav .main-menu a {
	padding: 20px 30px;
}

.main-nav .main-menu .sub-menu {
	background-color: #fff;
	text-align: left;
	border: 1px solid rgba(0, 0, 0, .1);
	border-left: 0;
}
.main-nav .main-menu .sub-menu li:hover {
  
	border-left: 3px solid #f39c12;
}
.main-nav .main-menu .sub-menu a {
	padding: 10px 15px;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.main-nav .main-menu .sub-menu a:after {
	right: 15px;
}

.main-nav .main-menu .sub-menu li .sub-menu {
	top: -2px;
}

.main-nav .main-menu .sub-menu li:first-child > a {
	border-top: 0;
}

.main-nav .main-menu .sub-menu li:first-child .sub-menu {
	top: -3px;
}

.main-nav .main-menu > li {
	vertical-align: middle;
	display: table-cell;
	height: 100%;
	@media (max-width: 992px){
		display: block;
	}
}
.header.shrink .main-nav .main-menu .current-menu-item {
    border-bottom: 3px solid #ffffff;
}
.main-nav .main-menu a {
	font-size: 14px;
	color: #ffffff;
	transition: all 300ms ease;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 20px;
}


.main-nav .main-menu .sub-menu {
	display: block !important;
}

.main-nav .main-menu .sub-menu .current-menu-parent > a,
.main-nav .main-menu .sub-menu .current-menu-item > a {
	color: #f39c12;
	
}

.main-nav .main-menu .current-menu-parent > a,
.main-nav .main-menu .current-menu-item > a {
	color: #ffffff;
	font-weight: 900;
}

.main-nav .main-menu .sub-menu {
	width: 250px;
	position: absolute;
	top: 100%;
	z-index: -1;
	left: 0;
	transition: all 300ms cubic-bezier(.175, .885, .32, 1.275);
}

.main-nav .main-menu .sub-menu .sub-menu {
	top: 0;
	left: 100%;
}

.main-nav .main-menu .sub-menu li.menu-item-has-children > a:after {
	font-family: "FontAwesome";
	content: "\F105";
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
			transform: translate(0, -50%);
}

.main-nav .main-menu .sub-menu li > a {
	font-size: 14px;
	transition: all 300ms ease;
	font-weight: 400;
	text-transform: capitalize;
	height: auto;
	line-height: 1.875;
	color: #009146;
	border-bottom: none;
	box-shadow: none;
}

.main-nav .main-menu .sub-menu li:hover > a {
	color: #f39c12;
}

.main-nav .main-menu .sub-menu li .current-menu-parent > a,
.main-nav .main-menu .sub-menu li .current-menu-item > a {
	color: #f39c12;
}

.main-nav .navbar-toggle {
	display: none;
}
.offcanvas-menu-wrapper {
    display: none;
}
@media (max-width: 992px) {
	.header.shrink .main-nav{
		padding: 15px 10px;
	}
    .main-nav .main-menu {
        position: fixed;
        top: 0;
        will-change: transform;
    }

    .main-nav .main-menu a {
        font-size: 14px;
    }

    .main-nav .main-menu a:after {
        right: 0;
        width: 50px;
        text-align: center;
    }

    .main-nav .main-menu .sub-menu {
        display: none;
    }

    .main-nav .main-menu {
        background-color: #111;
    }

    .main-nav .main-menu a {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        color: #eee;
    }

    .main-nav .main-menu a:after {
        border-left: 1px solid rgba(255, 255, 255, .1);
    }

    .main-nav .main-menu {
        left: 0;
        width: 280px;
        background-color: #111;
        -webkit-transform: translate(-100%, 0);
                transform: translate(-100%, 0);
    }

    .main-nav .active.main-menu {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }

    .main-nav .main-menu {
        z-index: 99999;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
        width: 280px;
        transition: all 300ms ease;
    }

    .main-nav .main-menu li {
        position: relative;
    }

    .main-nav .main-menu li.menu-item-has-children > a:after {
        font-family: "Font Awesome 5 Free";
        content: "\f107";
		position: absolute;
		font-weight: 900;
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
    }

    .main-nav .main-menu a {
        padding: 12px 15px;
        font-size: 14px;
    }

    .main-nav .main-menu a:hover {
        font-weight: 900;
    }

    .main-nav .main-menu .active > a {
        font-weight: 900;
    }

    .main-nav .main-menu .current-menu-parent > a,
    .main-nav .main-menu .current-menu-item > a {
        font-weight: 900;
    }

    .main-nav .main-menu .sub-menu a {
        padding: 12px 15px 12px 35px;
    }

    .main-nav .main-menu .sub-menu .menu-item-has-children > a:hover {
        color: #f39c12;
    }

    .main-nav .main-menu .sub-menu .menu-item-has-children.active > a {
        color: #f39c12;
    }

    .main-nav .main-menu .sub-menu .menu-item-has-children.current-menu-parent > a {
        color: #f39c12;
    }

    .main-nav .main-menu .sub-menu .current-menu-item > a {
        color: #f39c12;
    }

    .main-nav .navbar-toggle {
        display: block;
	}



	// offcanvas menu
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(18, 68, 29, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		top: 0;
		width: 300px;
		height: 100vh;
		background: rgba(0, 0, 0, 0.7);
		padding: 90px 20px 30px 30px;
		display: block;
		z-index: 9999;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
		
	}
	.offcanvas__close {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 30px;
		top: 25px;
		border: 1px solid #fff;
		border-radius: 50%;
		font-size: 26px;
		text-align: center;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		cursor: pointer;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 20px;
		
	}
	
	.slicknav_nav .slicknav_arrow {
		font-size: 16px;
		margin: 0 0 0 .4em;
		padding: 5px 10px;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 15px 0;
		margin: 0;
		color: #ffffff;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: space-between;
		
	}
	.slicknav_nav a {
		white-space: nowrap;
		font-size: 18px;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	
	.slicknav_nav {
		display: block !important;
	}
	.sub-menu{
		a{
			padding: 10px 0;
		}
	}
	.offcanvas__logo {
		margin-bottom: 25px;
		img{
			width: 100%;
		}
	}

	
}


.header .search-form {
	display: inline-block;
	a{
		padding-left: 0;
		&:hover{
			i{
				color: #e08738;
			}
		}
	}
}
.search-form__toggle {
	&:hover{
		cursor: pointer;
	}
	i{
		color: #fff;
	}
	
	@media (max-width: 992px) {
		display: none !important;
	}
}

.header:not(.shrink) .search-form__form {
    top: 56px;
    right: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
	transition: all .3s ease;
	width: 300px;
}
.header.shrink .search-form__form {
    top: 51px;
    right: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
	transition: all .3s ease;
	width: 300px;
   
}
@media (max-width: 992px) {
	
    .search-form__form {
		width: 100%;
		opacity: 1;
		top: 0;
		right: 0;
		position: relative;
		height: 60px;
		z-index: 99;
		visibility: visible;
		transform: translateY(0);
		transition: all .3s ease;
		.form-control{
			padding-left: 25px;
		}
    }
}

.search-form__form .form-search, .search-form__form .form-search > form,
.search-form__form .form-search > form > input {
    height: 100%;
    background-color: white;
}

.search-form {
    position: relative;
}

.search-form.open .search-form__form {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
/* 10. dropdown
--------------------------------------------------------------------------------*/

.dropdown {
    position: relative;
}

.dropdown__toggle {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}

.dropdown__content {
    color: #1f1c2f;
    top: 61px;
    right: 0;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    display: block !important;
    padding: 20px;
    line-height: 1.5;
    min-width: 130px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    transition: all ease .3s;
    z-index: 99;
}
.header.shrink{
	.dropdown__content{
		top: 56px;
	}
}
.dropdown__content[data-position="left"] {
    left: 0;
    right: auto;
}

.dropdown__content[data-position="center"] {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.dropdown__content.open {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}





@media (max-width: 992px){
	.header_content .header_logo{
		padding: 5px 0;
		height: 100%;
	}
}

/*********************************
4. Menu
*********************************/

.menu_container
{
	position: fixed;
	top: 0;
	right: -50vw;
	width: 50vw;
	height: 100vh;
	background: #FFFFFF;
	z-index: 101;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	visibility: hidden;
	opacity: 0;
}
.menu_container.active
{
	visibility: visible;
	opacity: 1;
	right: 0;
}
.menu
{
	position: absolute;
	top:150px;
	left: 0;
	padding-left: 15%;
}
.menu_inner
{
	width: 100%;
	height: 100%;
}
.menu_list
{
	-webkit-transform: translateY(1.5rem);
	-moz-transform: translateY(1.5rem);
	-ms-transform: translateY(1.5rem);
	-o-transform: translateY(1.5rem);
	transform: translateY(1.5rem);
	-webkit-transition: all 1000ms 400ms ease;
	-moz-transition: all 1000ms 400ms ease;
	-ms-transition: all 1000ms 400ms ease;
	-o-transition: all 1000ms 400ms ease;
	transition: all 1000ms 400ms ease;
	opacity: 0;
}
.menu_container.active .menu_list
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.menu_item
{
	margin-bottom: 5px;
}
.menu_item a
{
	font-size: 36px;
	font-weight: 700;
	color: #272727;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_item a:hover
{
	color: #ffb606;
}
.menu_close_container
{
	position: absolute;
	top: 86px;
	right: 79px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	z-index: 10;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #e08738;
}

/*********************************
4. Banner
*********************************/
.page-banner{
	.video{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 450px;
		width: 100%;
		padding: 0;
		video, iframe{
			width: 100%;
			height: 100%;
		}
		.video_click{
			width: 100%;
			height: 100%;
			&:hover{
				cursor: pointer;
			}
		}
	}
	.images{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 198px;
		width: 100%;
		padding: 0;
		h2{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 40px;
			text-transform: uppercase;
			font-weight: 900;
			color: #fff;
		}
	}
}
/*********************************
12. Develop
*********************************/
.develop{
	position: relative;
	background: transparent;
	padding-bottom: 97px;
	@media (max-width: 992px){
		padding-bottom: 37px;
	}
	&.first-class{
		padding-top: 65px;
		padding-bottom: 75px;
	}
	
	.section_title{
		overflow: visible !important;
		h1{
			margin-bottom: 25px;
			font-size: 45px;
			color: #009146;
			@media (max-width: 420px){
				margin-bottom: 20px;
				font-size: 25px;
			}
		
		}
	}
	.section_content
	{
		margin-top: 45px;
		margin-bottom: 53px;
		@media (max-width: 992px){
			margin-top: 15px;
			margin-bottom: 23px;
		}
		.section_title {
			h2{
				color: #009146;
				font-size: 40px;
				font-weight: 900;
				margin-bottom: 40px;
				@media (max-width: 992px){
					margin-bottom: 15px;
				}
			}
		}
		.section_text {
			&.text-center{
				p{
					text-align: justify;
					text-align-last: center
				}
			}
			p{
				color: #262626;
				font-size: 16px;
				font-weight: 400;
				text-align: justify;
			}	
		}
	}
	.section_image{
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: 992px){
			height: 450px;
		}
		@media (max-width: 768px){
			height: 370px;
		}
		@media (max-width: 460px){
			height: 320px;
		}
	}
}
/*********************************
12. Career
*********************************/
.career{
	width: 100%;
	background: transparent;
	padding-top: 45px;
    padding-bottom: 50px;
	position: relative;
	&.career-detail{
		padding-top: 58px;
	}
	.section_title{
        background: #009146;
        padding: 15px 0; 
		text-align: center;
		
        h2{
            font-size: 20px;
            color: #ffffff;
			font-weight: 700;
			margin-bottom: 0;
        }
    }
    p.pt-empty{
        background: #009146;
        color: #ffffff;
        padding: 7px 0 12px;
	}
	.career_button{
		margin-top: 35px;
	}

	.career-content{
		padding: 37px 30px 50px 30px;
		margin-right: 0;
		margin-left: 0;
		background-color: #ffffff;
		border-bottom: 1px solid #ebebeb;
		.career-info{
			display: flex;
			align-items: center;
			@media (max-width: 992px){
				margin-bottom: 25px;
			}
			.circle-icon {
				position: relative;
				background: #e1e1e1;
				width: 55px;
				height: 55px;
				border-radius: 50%;
				color: #009146;
				font-size: 23px;
				margin-right: 15px;
				&::before{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.text{
				p{
					color: #000000;
					font-weight: bold;
					margin-bottom: 15px;
					font-size: 16px;
					line-height: 1;
				}
				span{
					color: #009146;
					font-weight: bold;
					margin-bottom: 5px;
				}
			}
		} 
		.career-text{
			margin-top: 45px;
			p, ul li{
				color: #000000;
				font-size: 16px;
			}
			@media (max-width: 992px){
				margin-top: 0;
			}
		}
		
	}

	.career-title {
		h2{
			color: #009146;
			font-size: 40px;
			font-weight: 900;
			margin-bottom: 40px;
			margin-top: 25px;
		}
	}
	.career-text {
		p{
			color: #262626;
			font-size: 15px;
			font-weight: 400;
			text-align: justify;
			
		}
		
	}
	.career_image{
		img
		{
			width: 100%;
		}
	}
}
.table-responsive{
	margin-top: 55px;
	margin-bottom: 22px;
	nav{
		position: absolute;
		bottom: 25px;
		width: 100%;
		left:0;
	}
	table{
		margin-bottom: 0;
		color: #000000;
		white-space: nowrap;
		text-align: center;
		background: #ffffff;
		thead{
			background: #009146;
			th{
				border:none;
				text-transform: uppercase;
				vertical-align: middle;
				color: #ffffff;
				font-size: 14px;
				&:first-of-type{
					text-align: left;
					padding:0 25px;
				}
			}
		}
		tbody{
			tr{
				border-bottom: 1px solid #ececec;
				td{
					border:none;
					vertical-align: middle;
					font-size: 14px;
					&:first-of-type{
						text-align: left;
						font-weight: 700;
						padding: 15px 25px;
					}
					a {
						color: #000000;
					}
				}
			}
		}
	}
	.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		color: #000000;
	}
	nav .page-item.active .page-link, nav .page-item .page-link.active{
		background: #e20612;
		
	}
}

.table-responsive .table td,.tab-content .tab-pane .table-responsive .table th{
    padding: 7px 5px;
}


@media (max-width: 768px){
    /* Force table to not be like tables anymore */
    .table-responsive th, 
    .table-responsive td{ 
        font-size: 12px;
        text-align: center;
    }
  
    .table-responsive th:nth-child(2),
    .table-responsive td:nth-child(2){ 
        text-align: left;
    }
    .table-responsive .table td,
    .table-responsive .table th{
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
}


/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 700px;
	background: #ffffff;
	@media (max-width: 992px){
		height: 600px;
	}
	@media (max-width: 768px){
		height: 540px;
	}
	.home_background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 186px);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	p.t_text{
		text-align: center;
		margin-bottom: 0;
		color: #fff;
		padding: 75px 0;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 700;
		@media (max-width: 992px){
			padding: 45px 0;
		}
	}
	.home_slider{
		.owl-dots{
			width: 100%;
			.owl-dot span{
				width: 50px;
				height: 7px;
				margin: 15px 8px 0;
				background: #909090;
			}
			.owl-dot.active span, 
			.owl-dot:hover span {
				background: #009146;
			}
		}
		.owl-nav{
			position: initial;
			.owl-prev, .owl-next {
				position: absolute;
				top: 50%;
				text-align: center;
				width: 45px;
				height: 45px;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				background: rgba(0, 145, 70, 0.7);
				color: #fff;
				padding: 0;
				i{
					font-size: 30px;
					line-height: 45px;
				}
				&:hover{
					background: #d8262f;
				}
			}
			.owl-prev {
				left: 0;
			}
			.owl-next {
				right: 0;
			}
		}
		
	}
}

.home_slider_container{
	position: relative;
	background-image: url(../images/bg-section-2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 514px;
	@media (max-width: 992px){
		height: 414px;
	}
	@media (max-width: 768px){
		height: 354px;
	}
	.item{
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.home_slider_background
	{	
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.home_content
	{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
	}
	
	.home_title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		z-index: 2;
		h2{
			font-size: 120px;
			font-weight: 900;
			color: #ffffff;
			text-align: center;
		}
		img{
			max-width: 100%;
		}
		@media (max-width: 992px){
			h2
			{
				font-size: 55px;
				color: #ffffff;
				margin: 25px 0;
			}
			img{
				width: 100%;
			}
		}
	}
	.home_text
	{
		padding-right: 20px;
		padding-left: 3px;
		p
		{
			font-size: 32px;
			font-weight: 700;
			color: #ffffff;
			
		}
		@media (max-width: 992px){
			max-width: 625px;
			margin: 0 auto;
		}
		@media (max-width: 768px){
			p{
				font-size: 23px;
			}
		}
	}
	
	.home_slider_progress
	{
		position: absolute;
		left: 0;
		bottom: 0px;
		width: 0;
		max-width: 100%;
		height: 2px;
		background: #009146;
		z-index: 1;
	}
}

.home_slider_container{
	.home_text p {
		position: relative;
		opacity: 0;
		top: 50px;
	}
	.owl-item.active .home_text p {
		top: 0;
		opacity: 1;
	}
	
	.owl-item.active .home_text p {
		-webkit-transition: all 0.5s ease 0.4s;
		-o-transition: all 0.5s ease 0.4s;
		transition: all 0.5s ease 0.4s;
	}
}

/*********************************
6. Page
*********************************/
.page_banner{
	
	width: 100%;
	height: 500px;
	background: #ffffff;
	@media (max-width: 992px){
		height: 400px;
	}
	@media (max-width: 768px){
		height: 340px;
	}
	.page_background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

/*********************************
7. About
*********************************/

.about
{
	width: 100%;
	padding-top: 70px;
	background: transparent;
	padding-bottom: 45px;
	position: relative;
	
	.row{
		padding-top: 70px;
		.text_overlay{
			position: absolute;
			top: 35px;
			left: 70px;
			h2{
				font-size: 169px;
				font-weight: 900;
				color: #f6f6f6;
			}
		}
	}
	
	.about_content
	{
		margin-top: 45px;
		.about_title {
			h2{
				color: #009146;
				font-size: 40px;
				font-weight: 900;
				margin-bottom: 25px;
			}
		}
		.about_text {
			p{
				color: #262626;
				font-size: 15px;
				font-weight: 400;
				text-align: justify;
				
			}
			
		}
		
		.about_button{
			margin-top: 40px;
		}
	}
	.about_image{
		img
		{
			width: 100%;
		}
		
	}
	@media (max-width: 992px){
		padding-top: 25px;
		padding-bottom: 25px;
		.row{
			padding-top: 40px;
			.text_overlay{
				position: absolute;
				top: -30px;
				
			}
		}
		.about_content
		{
			margin-top: 25px;
			.about_text {
				p{
					text-align: justify;
					text-justify: inter-word;
				}
				
			}
			.about_button{
				text-align: center;
				margin: 25px 0;
			}
		}
	}
	&.page_section{
		.row{
			padding-top: 0;
		}
		.about_content:first-of-type{
			margin-top: 0;

		}
		
	}
}
.page_anchor::before { 
	display: block; 
	content: " "; 
	margin-top: -110px; 
	height: 110px; 
	visibility: hidden; 
	pointer-events: none;
}

.slideInLeft, .slideInRight{
	opacity: 0;
}

/*********************************
10. Brands
*********************************/

.brands
{
	width: 100%;
    background: transparent;
    padding-top: 75px;
	padding-bottom: 65px;
	@media (max-width: 992px){
		padding-top: 35px;
		padding-bottom: 25px;
	}
	.section_title{
		text-align: center;
		margin-bottom: 45px;
		h2{
			font-size: 24px;
			color: #009146;
			margin-bottom: 20px;
			font-weight: 900;
			position: relative;
			display: inline-block;
			padding: 3px 30px 5px;
			border-bottom: 4px solid #009146;
			&::after{
				content: "";
				height: calc(50% + 5px);
				display: block;
				border-left: 4px solid #009146;
				position: absolute;
				right: 0;
				bottom: 0;
			}
			&::before{
				content: "";
				height: calc(50% + 5px);
				display: block;
				border-right: 4px solid #009146;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
		p{
			margin: 0 auto;
			max-width: 820px;
			color: #262626;
			font-weight: 400;
			text-align: justify;
    		text-align-last: center;
		}
	}
	#brands_slider {
		width:100%;
		position:relative;
		overflow: hidden;
		height: 590px;
	
		.carousel-center{
			position: relative;
			~ div{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: 350px auto;
				background-position-x: center;
				background-position-y: 50px;
				background-repeat: no-repeat;
				background-image: url(../images/carousel-center.png);
				opacity: 1;
			}
		}
		a img {
			visibility:hidden; /* hide images until carousel can handle them */
			cursor:pointer; /* otherwise it's not as obvious items can be clicked */
			~ div{
				opacity: 0;
				transition: opacity 0.3s ease-in;
			}
		}
	}
	.brands_slider-nav{
		justify-content: center;
		margin-bottom: 25px;
		display: none;
		@media (max-width: 576px){
			display: flex;
		}
		#next, #prev {
			margin: 0 15px;
			width: 45px;
			height: 45px;
			background: rgba(0, 91, 153, 0.6);
			color: #fff;
			border: none;
			outline:none;
		}
	}
	
}


/*********************************
12. Video
*********************************/

.video{
	padding-top: 45px;
	padding-bottom: 45px;
	background: transparent;
	position: relative;
	.video_background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.video_bg-1{
		position: absolute;
		top: -139px;
		left: -25%;
		img{
			max-width: 100%;
		}
	}
	.video_bg-2{
		position: absolute;
		top: -129px;
		right: -25%;
		img{
			max-width: 100%;
		}
	}
	.video_content{
		text-align: center;
		position: relative;
		.video_title{
			font-size: 24px;
			color: #fff;
			font-weight: 900;
			text-align: center;
			margin-bottom: 35px;
		}
		.video_button{
			margin: 30px auto 0;
			background: #fff;
			a{
				color: #009146 ;
			}
			&::after {
				content: '';
				background: #009146;
				
			}
		}
		.video_thumbnail{
			padding: 0 45px;
			
			img{
				width: 100%;
			}
			
		}
		.video_bg-3{
			position: absolute;
			bottom: 45px;
			left: 0;
			transform: translateX(-50%);
			img{
				max-width: 100%;
			}
		}
	}
	
}

/*********************************
14. News
*********************************/
.news{
	padding-top: 75px;
	padding-bottom: 65px;
	background-position: bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
	&.page_section{
		padding-top: 45px;
		padding-bottom: 52px;
		.news_title{
			h2{
				font-size: 28px;
				font-weight: 900;
				color: #009146;
				text-transform: uppercase;
				margin-bottom: 32px;
				@media (max-width: 992px){
					margin-bottom: 20px;
				}
			}
		}
		.list_news{
			.large_news{
				margin-bottom: 23px;
				.large_news_text {
					
					padding: 30px 30px 26px 31px;
					p{
						font-size: 24px;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				
			}
		}
		.news_item{
			margin-bottom: 16px;
			width: 100%;
			
			a{
				display: flex;
				
			}
			
			.news_item_image{
				flex-shrink: 0;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				width: 220px;
				height: 220px;
				z-index: 1;
				transition: all 0.3s;
				@media (max-width: 576px){
					width: 100%;
					height: 100%;
					&::after{
						content: "";
						display: block;
						padding-bottom: 100%;
					}
				}
				
			}
			.news_item_text {
				height: 220px;
				z-index: 2;
				padding-left: 23px;
				padding-right: 32px;
				border: 1px solid #e1e1e1;
				border-left: 0;
				display: table;
				div{
					display: table-cell;
					vertical-align: middle;
					h2{
						font-size: 20px;
						font-weight: 700;
						color: #009146;
					}
					p{
						font-size: 16px;
						color: #000000;
						font-weight: 400;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				@media (max-width: 576px){
					border: none;
					height: auto;					
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					z-index: 2;
					background: rgba(18, 68, 29, 0.5);
					padding: 15px;
					div{
						h2,p{
							color: #ffffff;
						}
					}
				}
			}
			
			@media (max-width: 992px){
				&:last-of-type{
					margin-bottom: 45px;
				}
			}
			@media (max-width: 576px){
				
				a{
					flex-direction: column;
				}
			}
		}
		.small_item{
			width: 100%;
			margin-bottom: 15px;
			.small_item_image{
				width: 100%;
				height: 100%;
				z-index: 1;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				transition: all 0.3s;
				&::after{
					content: "";
					display: block;
					padding-bottom: 100%;
				}
			}
		
			.small_item_text{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				z-index: 2;
				background: rgba(18, 68, 29, 0.5);
				padding: 15px;
				left: 15px;
					width: calc(100% - 30px);
				p{
					font-size: 14px;
					color: #ffffff;
					font-weight: 700;
	
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				
			}
			
		}
		.news-pagination{
			margin-top: 19px;
			ul{
				justify-content: center;
				.page-item{
					.page-link{
						color: #009146;
						border: 0;
						padding: 9px 12px;
						margin: 0 3px;
						border-radius: 0;
						font-weight: 700;
					}
				
					&.active .page-link{
						background-color: #009146;
						color: #fff;
					}
				}
			}
		}
	}
	.section_title{
		text-align: center;
		h2{
			font-size: 24px;
			color: #009146;
			margin-bottom: 45px;
			font-weight: 900;
			position: relative;
			display: inline-block;
			padding: 3px 30px 5px;
			border-bottom: 4px solid #009146;
			&::after{
				content: "";
				height: calc(50% + 5px);
				display: block;
				border-left: 4px solid #009146;
				position: absolute;
				right: 0;
				bottom: 0;
			}
			&::before{
				content: "";
				height: calc(50% + 5px);
				display: block;
				border-right: 4px solid #009146;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
	}
	.news_content_left{
		padding-right: 0;
		
		
	}
	.large_news{
		position: relative;
		width: 100%;
		height: 500px;
		overflow: hidden;
		@media (max-width: 992px){
			padding-right: 0;
			height: auto !important;
			a{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			&::after{
				content: "";
				display: block;
				padding-bottom: 100%;
			}
		}
		.large_news_image{
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			z-index: 1;
			transition: all 0.3s;
		}
		.large_news_text{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 2;
			background: rgba(18, 68, 29, 0.5);
			padding: 25px 30px 45px;
			p{
				font-size: 14px;
				color: #ffffff;
				font-weight: 700;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			@media (max-width: 992px){
				padding: 15px;
			}
		}
		&:hover{
			
			.large_news_image{
				transform: scale(1.05);
			}
		}
	}
	.news_content_right{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		@media (max-width: 992px){
			padding-right: 0;
			
		}
		.small_news{
		
			width: calc((100% - 17px)/2);
			height: calc((100% - 17px)/2);
			
			position: relative;
			overflow: hidden;
			@media (max-width: 992px){
				margin-top: 15px;
				height: auto !important;
				a{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				&::after{
					content: "";
					display: block;
					padding-bottom: 100%;
				}
			}
		
			.small_news_image{
				width: 100%;
				height: 100%;
				z-index: 1;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				transition: all 0.3s;
			}
			.small_news_text{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				z-index: 2;
				background: rgba(18, 68, 29, 0.5);
				padding: 15px;
				p{
					font-size: 14px;
					color: #ffffff;
					font-weight: 700;
	
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				@media (max-width: 992px){
					padding: 5px;
				}
			}
			&:hover{
				
				.small_news_image{
					transform: scale(1.05);
				}
			}
		}	
	}
	
	.news_button{
		margin-top: 23px;
	}
}
/*********************************
14. News Details
*********************************/
.news-content{
	padding-top: 56px;
	padding-bottom: 66px;
	h2{
		color: #009146;
		font-weight: 700;
		font-size: 32px;
		margin-bottom: 31px;
	}
	p{
		font-size: 16px;
		color: #000000;
		font-weight: 700;
	}
	img.wp-image{
		margin-top: 17px;
		margin-bottom: 40px;
	}
	.news_button{
		margin-top: 45px;
	}
	.related-news{
		margin-top: 51px;
		.related-news-title{
			h2{
				font-weight: 900;
				text-align: center;
				font-size: 40px;
				text-transform: uppercase;
				margin-bottom: 38px;
			}
		}
		.item{
			@media (max-width: 992px){
				margin-bottom: 25px;
			}
			&:not(:last-child), &:not(:first-child){
				padding-right: 5px;
				padding-left: 5px;
			}
			
			.thumbnail-img{
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				&::after{
					content: "";
					display: block;
					padding-bottom: 100%;
				}
			}
			.text{
				padding: 13px 14px 16px;
				border: 1px solid #e1e1e1;
				border-top: 0;
				p{
					font-size: 16px;
					color: #009146;
					font-weight: 700;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}
/*********************************
14. Product
*********************************/
.product{
	padding-top: 80px;
	padding-bottom: 0;
	background: transparent;
	position: relative;
	@media (max-width: 992px){
		padding-bottom: 40px;
	}
	@media (max-width: 768px){
		padding-bottom: 70px;
	}
	.product-background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.section_title{
		text-align: center;
		h2{
			font-size: 45px;
			color: #009146;
			font-weight: 900;
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			@media (max-width: 992px){
				margin-bottom: 45px;
			}
		}
	}

	
	#product-list {
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
			-ms-flex-flow: row nowrap;
				flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 455px;
		overflow: hidden;
		@media (max-width: 992px){
			height: auto;
		}
		.box{
			flex: 1;
			transition: .3s;
			position: relative;
			img {
				transition: 0.3s;
				margin: 0 auto ;
				width: 100%;
			}
			.product-title{
				display: none;
			}
			
			&:hover {
				transition: .3s;
				flex-grow: 1.5;
				cursor: pointer;
				color: #fff;
			
				
				.text {
					padding-top: 20px;
					-webkit-transition: .3s;
					-o-transition: .3s;
					transition: .3s;
					top: 0px; 
				}
			
			}
		}
	}
	.product-prev,
	.product-next{
		display: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 34px;
		z-index: 99;
		@media (max-width: 992px){
			display: block;
		}
	}
	.product-prev{
		left: 0;
	}
	.product-next{
		right: 0;
	}
	.product-counter{
		text-align: center;
		font-size: 24px;
		color: #000000;
		margin-bottom: 35px;
		display: none;
		@media (max-width: 992px){
			display: block;
		}
	}
}
/*********************************
14. Banner Product
*********************************/
.product-banner{
	background: transparent;
	position: relative;
	min-height: 450px;
	display: flex;
	align-items: center;
	.banner-background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	h2.banner-title{
		font-size: 40px;
		color: #ffffff;
		font-weight: 900;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
	}
	.banner-content{
		p{
			font-weight: 700;
			font-size: 20px;
			color: #fff;
		}
		ul li{
			color: #ffffff;
			font-size: 16px;
			max-width: 500px;
		}
		ul{
			list-style: disc;
			color: #ffffff;
			padding-left: 17px;
			margin-top: 50px;
		}
		
	}
}
/*********************************
14. Product Detail
*********************************/
.product-detail{
	padding-top: 63px;
	padding-bottom: 75px;
	background: transparent;
	position: relative;
	.product-image{
		text-align: center;
		@media (max-width: 992px){
			img{
				width: 100%;
				margin-top: 25px;
			}
		}
	}
	.product-content{
		h2{
			color: #009146;
			font-size: 40px;
			font-weight: 900;
			margin-bottom: 25px;
			margin-top: 15px;
		}
		p{
			font-size: 16px;
			color: #000000;
		}
		.table{
			margin-top: 30px;
			td, th{
				color: #000000;
			}
		}
	}
	.seemore_button{
		margin-top: 25px;
	}
}
/*********************************
14. Video Page
*********************************/
.video-page{
	padding-top: 42px;
	padding-bottom: 61px;
	
	@media (min-width: 768px){
		[class*="col-"]:nth-child(2n + 1) {
			padding-right: 5px;
		}
		[class*="col-"]:nth-child(2n) {
			padding-left: 5px;
		}
	}
	.video-item{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 31px;
		position: relative;
		&::after{
			content: '';
			display: block;
			padding-bottom: 70%;
		}
		iframe, video{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		.video_click{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			&:hover{
				color: pointer;
			}
		}
	}
}
/*********************************
14. Coming Soon
*********************************/
.coming_soon{
	padding-top: 75px;
	padding-bottom: 75px;
	background: transparent;
	position: relative;
	min-height: 60vh;
	display: flex;
	align-items: center;
	.coming_soon-content{
		text-align: center;
		img{
			max-width: 320px;
			margin-bottom: 25px;
		}
		h2{
			color: #009146;
			font-size: 30px;
			font-weight: 900;
			margin-bottom: 25px;
		}
		p{
			color: #262626;
		}
	}
}
/*********************************
14. Age
*********************************/
.fullscreen{
	margin: 0 !important;
	
	.main_content{
		height: 100%;
		width: 100%;
	}
}

.age{
	height: 100vh;
	width: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-height: 600px){
		overflow: auto;
		height: auto !important;
		padding: 75px 0;
	}
	@media only screen and (max-width: 768px) and (max-height: 920px)
	{
		overflow: auto;
		height: auto !important;
		padding: 75px 0;
	}
	.age-content{
		text-align: center;
		img{
			max-width: 320px;
			margin-bottom: 75px;
			@media (max-width: 320px){
				width: 100%;
			}
		}
		h2{
			color: #ffffff;
			font-size: 24px;
			font-weight: 900;
			margin-bottom: 25px;
		}
		p{
			color: #ffffff;
			font-weight: 400;
			font-size: 18px;
		}
		.button{
			background: #d8262f;
			
		}
	}
	.age_form_container{
		margin-top: 59px;
		p{
			margin-bottom: 15px;
		}
	}

	.age_input
	{
		position: relative;
		width: 100%;
		height: 44px;
		border: none;
		outline: none;
		background: #ffffff;
		padding-left: 25px;
	}
	.age_form > div:not(:last-child)
	{
		margin-bottom: 18px;
	}
	.input_container{
		padding-left: 10px;
		padding-right: 0;
		position: relative;
	}
	.input_container::after
	{
		display: block;
		position: absolute;
		left: 10px;
		bottom: 0;
		width: calc(100% - 10px);
		height: 2px;
		content: '';
		background: #20d34a;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
	}
	.input_container:hover::after
	{
		visibility: visible;
		opacity: 1;
	}
	.age_input::-webkit-input-placeholder
	{
		font-size: 16px !important;
		font-weight: 700 !important;
		color: #000000 !important;
	}
	.age_input:-moz-placeholder
	{
		font-size: 16px !important;
		font-weight: 700 !important;
		color: #000000 !important;
	}
	.age_input::-moz-placeholder
	{
		font-size: 16px !important;
		font-weight: 700 !important;
		color: #000000 !important;
	} 
	.age_input:-ms-input-placeholder
	{ 
		font-size: 16px !important;
		font-weight: 700 !important;
		color: #000000 !important;
	}
	.age_input::placeholder
	{
		font-size: 16px !important;
		font-weight: 700 !important;
		color: #000000 !important;
	}
	.age_button{
		padding-left: 10px;
		padding-right: 0;
		.button{
			width: 100%;
		}
	}
}
/*********************************
14. Contact Us
*********************************/
.contact-map{
	padding-top: 44px;
	padding-bottom: 65px;
	.section_title{
		h2{
			font-size: 40px;
			margin-bottom: 45px;
			margin-top: 33px;
			font-weight: 900;
			color: #009146;
		}
	}
	.contact-info{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		.icon{
			flex-shrink: 0;
			margin-right: 15px;
			width: 25px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			i{
				color: #009146;
				font-size: 18px;
			}
		}
		p{
			margin-bottom: 0;
			font-size: 18px;
		}
	}
}
.contact-form{
	padding-top: 0;
	padding-bottom: 60px;
	.section_title{
		h2{
			font-size: 40px;
			margin-bottom: 30px;
			font-weight: 900;
			color: #009146;
			text-align: center;
		}
	}
	.contact_input
    {
        position: relative;
        width: 100%;
        height: 44px;
        border: none;
        outline: none;
        background: #f5f5f5;
		padding-left: 25px;
		display: block;
    }
    .contact_form .input_container
    {
        margin-bottom: 18px;
    }
    .input_container::after
    {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        content: '';
        background: #20d34a;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    .input_container:hover::after
    {
        visibility: visible;
        opacity: 1;
    }
    .contact_input::-webkit-input-placeholder
    {
        font-size: 16px !important;
        font-weight: 400 !important;
        color: #000000 !important;
    }
    .contact_input:-moz-placeholder
    {
        font-size: 16px !important;
        font-weight: 400 !important;
        color: #000000 !important;
    }
    .contact_input::-moz-placeholder
    {
        font-size: 12px !important;
        font-weight: 400 !important;
        color: #000000 !important;
    } 
    .contact_input:-ms-input-placeholder
    { 
        font-size: 16px !important;
        font-weight: 400 !important;
        color: #000000 !important;
    }
    .contact_input::placeholder
    {
        font-size: 16px !important;
        font-weight: 400 !important;
        color: #000000 !important;
    }
    .contact_text_area
    {
        height: 160px;
        padding-top: 13px;
    }
    .contact_button
    {
		text-align: center;
       	margin-top: 3px;
    }
}
/*********************************
17. Footer
*********************************/

.footer
{
	width: 100%;
	background:transparent;
	position: relative;
	padding-top: 40px;
	padding-bottom: 15px;
	.footer_background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.footer_about{
		
		p{
			color: #ffffff;
			margin-bottom: 25px;
			font-weight: 700;
		}
	}
	.footer_title
	{
		font-size: 26px;
    	font-weight: 900;
		color: #ffffff;
	}
	.footer_social{
		display: flex;
		align-items: center;
		padding-bottom: 20px;
		li{
			a{
				color: #ffffff;
				font-size: 23px;
			}
		}
		li:not(:last-of-type){
			margin-right: 25px;
		}
	}
	.footer_about_list
	{
		margin-top: 20px;
		padding-bottom: 25px;
		li:not(:last-child)
		{
			margin-bottom: 9px;
		}
		.footer_about_icon
		{
			display: inline-block;
			width: 25px;
			height: 25px;
			text-align: center;
			vertical-align: middle;
			i
			{
				position: absolute;
				width: 16px;
				height: 16px;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				color: #ffffff;
			}
		}
		li span
		{
			font-size: 16px;
			font-weight: 700;
			color: #ffffff;
			padding-left: 10px;
		}
	}

	.footer_copyright{
		padding: 20px 0;
		border-top: 1px solid #fff;
		p{
			font-size: 14px;
			color: #fff;
			
		}
	}
}
.footer_image{
	img{
		max-width: 100%;
	}
}

@media (min-width: 992px){
	.fadeInUp, .fadeInDown {
		opacity: 0;
		overflow: hidden;
	}
}
/*********************************
14. Responsive
*********************************/
@media only screen and (max-width: 991px)
{
	
	.main_nav
	{
		display: none;
	}
	.logo_container
	{
		width: 181px;
	}
	
	.hamburger
	{
		display: block;
	}
	
	
	
	.footer_social ul
	{
		margin-right: 0;
		margin-left: -5px;
		margin-top: 15px;
	}
}